*{
    margin: 0;
}

/* Container */
#container{
    height: 100vh;
    display: grid;
    grid-template-areas:
    "hd hd hd hd"
    "na na na na"
    "ar ar2 ar3 as"
    "ft ft ft ft";
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 15% 10% 50% 25%;
}

#container2{
    height: 100vh;
    display: grid;
    grid-template-areas:
    "hd"
    "na"
    "ma"
    "ft";
    grid-template-rows: 15% 10% 60% 15%;
}

#container3{
    height: 100vh;
    display: grid;
    grid-template-areas:
    "hd"
    "na"
    "ma"
    "ft";
    grid-template-rows: 15% 10% 50% 25%;
}

/* Saker använt på alla sidor*/
header{
    grid-area: hd;
    background-color: aqua;
}

nav{
    grid-area: na;
    display: flex;
    background-color: #2ee6e6;
    justify-content: space-around;
    align-items: center;
}

footer{
    grid-area: ft;
    background-color: #2ee6e6;
}

.link{
    color: black;
    text-decoration: none;
}

h1{
    padding: 10px;
}

h4{
    padding: 10px;
}

iframe{
    padding: 10px;
}

/* Sida 1 */
#ar{
    grid-area: ar;
}

#ar img{
    width: 325px;
}

#ar2{
    grid-area: ar2;
}

#ar2 img{
    width: 325px;
}

#ar3{
    grid-area: ar3;
}

#ar3 img{
    width: 325px;
}

aside{
    grid-area: as;
    background-color: #00ffff;
    padding: 10px;
}

/* Sida 2 & 3 */
main{
    background-color: aqua;
}

.black{
    color: black;
}

section{
    display: grid;
    grid-template-areas: 
    "map txt";
}

iframe{
    grid-area: map;
}

p{
    grid-area: txt;
}

.padding{
    padding: 10px;
}